In [1]:
from pyspark.sql import (
    functions as f,
    Row,
    SparkSession,
    types as t
)

spark = SparkSession.builder.appName("df_total").getOrCreate()

In [3]:
csv_file_path = "file:///home/jovyan/work/product.csv"

table_schema = t.StructType([
    t.StructField("customer_name", t.StringType(), True),
    t.StructField("product_id", t.IntegerType(), True),
    t.StructField("price", t.IntegerType(), True)])

df = spark.read.schema(table_schema).csv(csv_file_path)
df.show()

+--------------------+----------+-----+
|       customer_name|product_id|price|
+--------------------+----------+-----+
|      Whitney Duncan|      2265|  899|
|       Ebonie Hudson|      2509|  762|
|        Luise Warren|      1995|  657|
|        Kenton Floyd|      2271|  829|
|       Kasie Douglas|      2507|  254|
|          Elden Ward|      1486|  369|
|      Hyacinth Kelly|      1355|  660|
|   Alishia Stevenson|      3173|  368|
|      Amado Castillo|      1465|  242|
|       Daniell Mills|      3043|   44|
|          King Price|      1579|  607|
|       Luise Chapman|      2149|  705|
|        Hobert Grant|      2858|  777|
|       Michal Steele|      1500|  519|
|       Elenore Watts|      2123|  670|
|Cristobal Montgomery|      1378|  630|
|     Towanda Stevens|      3122|  358|
|     Hildred Sanders|      3589|  193|
|        Cordie Terry|      3967|   49|
|       Eugene Farmer|      1966|  529|
+--------------------+----------+-----+
only showing top 20 rows

In [8]:
customer_spent = df.groupBy("customer_name")\
                    .agg(f.sum("price").alias("cost"))
customer_spent.show()

+----------------+----+
|   customer_name|cost|
+----------------+----+
|    Kasey Moreno| 757|
|   Jefferey Hill| 457|
|   Marget Fowler| 949|
|    Lesley Wolfe| 809|
| Cristie Perkins| 787|
| Emerald Jackson| 400|
|    Gwyn Mcbride| 943|
| Apolonia Peters| 517|
|   Lacy Robinson| 343|
|   Francie Welch| 809|
|    Herta Cooper| 733|
|     Otha Dawson| 663|
|     Hank Keller| 208|
|Shavonne Watkins| 587|
|  Angelo Goodwin| 720|
|   Shon Castillo|  99|
| Evelin Crawford| 370|
|     Lyndon Diaz|  15|
|    Narcisa Hale| 223|
|  Glennie Farmer| 407|
+----------------+----+
only showing top 20 rows

In [9]:
sorted_customer_spent = customer_spent.orderBy(f.col("cost").desc())
sorted_customer_spent.show()

+-----------------+----+
|    customer_name|cost|
+-----------------+----+
|     Damion Wolfe|1397|
| Benedict Frazier| 998|
|  Giuseppe Miller| 997|
|    Garret Martin| 997|
|Erminia Robertson| 997|
|     Milan Gibson| 996|
|     Rudy Wheeler| 994|
|   Kathey Baldwin| 994|
|   Williemae Bell| 992|
|Gearldine Aguilar| 988|
|      Jewel Parks| 987|
|     Hyman Castro| 985|
|    Noriko Medina| 984|
|     Garfield Day| 982|
|      Dacia Adams| 981|
|     Taisha Henry| 980|
|    Branda Valdez| 978|
|     Fumiko Weber| 976|
|Geraldo Alexander| 975|
|      Walker Pope| 975|
+-----------------+----+
only showing top 20 rows