In [1]:
import pyspark
sc = pyspark.SparkContext.getOrCreate()

In [2]:
test_file = "file:///home/jovyan/work/temperature.csv"

In [5]:
def get_data(line, header):
    if line != header:
        col = line.split(',')
        city = col[6].strip("\"")
        avg_temp_fahr = col[4]
        yield (city, avg_temp_fahr)

lines = sc.textFile(test_file)

header = lines.first()
parsed_line = lines.flatMap(lambda line: get_data(line, header))
parsed_line.collect()[:10]

[('Auckland', 'NA'),
 ('Auckland', 'NA'),
 ('Auckland', 'NA'),
 ('Auckland', 'NA'),
 ('Auckland', 'NA'),
 ('Auckland', '51.9062'),
 ('Auckland', '52.3886'),
 ('Auckland', '52.853'),
 ('Auckland', '52.5776'),
 ('Auckland', '54.8726')]

In [6]:
filtered_line = parsed_line.filter(lambda x: "NA" not in x[1])
filtered_line.collect()[:10]

[('Auckland', '51.9062'),
 ('Auckland', '52.3886'),
 ('Auckland', '52.853'),
 ('Auckland', '52.5776'),
 ('Auckland', '54.8726'),
 ('Auckland', '56.6888'),
 ('Auckland', '59.846'),
 ('Auckland', '64.5908'),
 ('Auckland', '65.372'),
 ('Auckland', '64.9688')]

In [10]:
# finding min temperature
min_temp = filtered_line.reduceByKey(lambda x, y: min(float(x), float(y)))
min_temp.collect()

[('Auckland', 49.856),
 ('Canoas', 50.009),
 ('Cape Town', 49.9946),
 ('Hamilton', 44.564),
 ('Kherson', 7.0952),
 ('Kiev', 2.85619999999999),
 ('Lvov', 7.1726),
 ('Marseille', 39.3908),
 ('Odesa', 14.8838),
 ('Stockholm', 13.3988),
 ('Wroclaw', 9.167),
 ('NA', 12.4682),
 ('Bras√≠lia', 62.9744),
 ('Johannesburg', 42.1772),
 ('Paris', 25.0232),
 ('Tokyo', 29.156),
 ('Tottori', 34.2518),
 ('Uppsala', 6.0494),
 ('Warsaw', 6.8)]